

.govno {
            position: fixed;
            bottom: 40;
    height: 270px;
    max-height: 100vh;
    right: 30px;
    opacity: 0.8;
    
    animation: fade .3s ease-out;
    pointer-events: none;
}
            
            .chlen {
    position: fixed;
    bottom: 90;
                left: 90px;
                up: 20px;
    height: 170px;
    max-height: 100vh;
    right: 30px;
    opacity: 0.6;
                animation: fade .3s ease-out;
    pointer-events: none;
            }
        

.flag {
    height: 200px;
    position: fixed;
    top: 80px;
    left: 60px;
    opacity: 0.7;
}
        
.flag2 {
    height: 100px;
    position: fixed;
    top: 90px;
    right: 40px;
    opacity: 0.7
    
}

.isis {
    height: 200px;
    position: absolute;
    bottom: 400px;
    opacity: 0.9
        
}



.deidara {
    height: 100px;
    position: fixed;
    top: 540px;
    left: 400px;
    opacity: 0.8;
}


.lera {
transition:all 10s easy;
animation:rotation 15s ease infinite;
  -webkit-transform: translate3d(0, 0, 0); 
-webkit-animation:rotation 15s ease infinite;
color:#ff0}
@-webkit-keyframes rotation{
0%,1%,2%,3%,100%{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	}
	
30%{
transform:rotate(360deg);
-webkit-transform:rotate(360deg);
opacity: 0.5
}
50%{
transform:rotate(-90deg);
-webkit-transform:rotate(-90deg);
}
}
@keyframes rotation{
0%,1%,100%{
transform:rotate(180deg);
-webkit-transform:rotate(180deg);
}
30%{
transform:rotate(360deg);
-webkit-transform:rotate(360deg);
opacity: 0.5;
  -webkit-transform: translate3d(0, 0, 0);
}
50%{
transform:rotate(-90deg);-
webkit-transform:rotate(-90deg);
}
}

.lera1 {
    height: 300px;
    
}



.tma {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

    
   .sea {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 220px;
    height: 120px;
    margin:-20px 0 0 -40px;
    -webkit-animation:spin1 1s linear infinite;
    -moz-animation:spin1 3s linear infinite;
    animation:spin1 2s linear infinite;
}
@-moz-keyframes spin1 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin1 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin1 { 100% { -webkit-transform: rotate(360deg); transform:rotate(344460deg); }
}



.kyk { 
    position: absolute;
    right: 999px;
    width: 220px;
    height: 120px;
    margin:-20px 0 0 -40px;
    -webkit-animation:spin2 1s linear infinite;
    -moz-animation:spin2 3s linear infinite;
    animation:spin2 2s linear infinite;
}
@-moz-keyframes spin2 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(360deg); transform:rotate(460deg); }
}

.sas {
    position: absolute;
    right: 20%;
    top: 390px;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin5 4s linear infinite;
    -moz-animation:spin5 4s linear infinite;
    animation:spin5 4s linear infinite;
}
@-moz-keyframes spin5 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin5 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin5 { 100% { -webkit-transform: rotate(360deg); transform:rotate(6660deg); }
}


.vkysna {
    position: absolute;
    right: 285px;
    top: 280px;
}
   



.masha {
        position: absolute;
    right: 190px;
    top: 90px;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin8 4s linear infinite;
    -moz-animation:spin8 4s linear infinite;
    animation:spin8 4s linear infinite;
}
@-moz-keyframes spin8 { 100% { -moz-transform: rotate(960deg); } }
@-webkit-keyframes spin8 { 100% { -webkit-transform: rotate(960deg); } }
@keyframes spin8 { 100% { -webkit-transform: rotate(960deg); transform:rotate(960deg); }
}

.ja {
    position: absolute;
    top: 40px;
 height: 150px;
  width: 150px;
  margin: 0 auto;
 
 
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
  
    border-radius: 100%;
  }
  50% {
   
  }
  100% {
    transform: scale(1.5);
    
  }
}

body,
html {
  height: 100%;
}


}



@keyframes stretch {
  /* declare animation actions here */
}

.ilitka {
    position: absolute;
    top: 20px;
    right:230px;
        height: 400px;
  width: 400px;
  
  animation: 
    pulse 3s ease infinite alternate, 
    nudge 5s linear infinite alternate;
  border-radius: 100%;
}

@keyframes pulse {
  0%, 100% {
    
  }
  50% {
    
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}




.kron {
    
position: absolute;
    top: 500px;
    right: 200px;
       height: 400px;
  width: 400px;
  
  animation: 
    pulse1 3s ease infinite alternate, 
    nudge1 5s linear infinite alternate;
  border-radius: 100%;
}

@keyframes pulse1 {
  0%, 100% {
   
  }
  50% {
   
  }
}

@keyframes nudge1 {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}

.fag {
	position: absolute;
    left: 450px;
    top: 390px;
	height: 150px;
  width: 150px;
  margin: 0 auto;
 
 
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
  
    border-radius: 100%;
  }
  50% {
   
  }
  100% {
    transform: scale(1.5);
    
  }
}

	